html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  height: 100vh;
}

#homepage {
  background-color: #d33a2c;
  padding: 80px 5px;
  color: white;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#homepage li {
  list-style-type: none;
  cursor: pointer;
}

#homepage li a:active {
  position: relative;
  top: 1px;
}

#homepage .logo {
  font-family: 'Exo';
  font-style: italic;
  font-size: 56px;
  margin-bottom: 40px;
}

h1 {
  font-family: Exo;
  font-style: italic;
  font-size: 40px;
  line-height: 1.15em;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: Exo;
  margin-top: 80px;
  margin-bottom: 30px;
  line-height: 1.2em;
  color: black;
}

a {
  color: #420904;
  text-decoration: none;
  position: relative;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 2px;
  font-size: 0.9em;
  padding: 0 3px;
}

a::before {
  content: '';
  position: absolute;
  border-bottom: 8px solid rgb(109, 35, 35, 0.3);
  display: inline-block;
  left: 6px;
  bottom: 2px;
  z-index: 0;
  right: 6px;
}

ul#posts li {
  list-style-type: none;
  cursor: pointer;
}
ul#posts {
  margin: 0 0 30px;
  font-family: 'Gentium Book Basic';
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 20px;
}
ul#posts {
  margin: 0px;
  padding: 0;
}

ul#posts span.date {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 10px;
  color: #820e05;
  font-size: 16px;
}
